################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
gmash.code-workspace
/.vscode/launch.json
/.gmash-source/gendocs/__pycache__
